<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qmstore.commodity.dao.CommodityMapper">
    <select id="findAll" resultType="qmstore.commodity.pojo.Commodity">select  *from commodity;</select>
    <insert id="add" parameterType="qmstore.commodity.pojo.Commodity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">insert into commodity(name,type,price)values(#{name}, #{type},#{price});</insert>
    <update id="update" parameterType="qmstore.commodity.pojo.Commodity">update commodity set name = #{name},type = #{type},price = #{price}where id = #{id};
    </update>
    <delete id="delete">delete from commodity where id=#{id};</delete>
</mapper>