<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qmstore.activity_category.dao.ActivityCategoryMapper">
    <select id="findAll" resultType="qmstore.activity_category.pojo.ActivityCategory">select  *from activity_category;</select>

    <insert id="add" parameterType="qmstore.activity_category.pojo.ActivityCategory" useGeneratedKeys="true" keyProperty="id" keyColumn="id">insert into activity_category(activity_id, activity_name,category,activity_desc,start_time,end_time,create_time,update_time)values(#{activity_id},#{activity_name}, #{category},#{activity_desc},#{start_time},#{end_time}, #{create_time},#{update_time});</insert>
    <update id="update" parameterType="qmstore.activity_category.pojo.ActivityCategory">update activity_category set activity_name = #{activity_name},category = #{category},activity_desc = #{activity_desc}, start_time = #{start_time}, end_time=#{end_time},update_time=#{update_time} where id = #{id};
    </update>
    <delete id="delete">delete from activity_category where id=#{id};</delete>
    <delete id="find">select * from activity_category where id=#{id};</delete>
</mapper>