<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qmstore.goods_detail.dao.GoodsDetailMapper">
    <select id="findAll" resultType="qmstore.goods_detail.pojo.GoodsDetail">select  * from goods_detail;</select>

    <insert id="add" parameterType="qmstore.goods_detail.pojo.GoodsDetail" useGeneratedKeys="true" keyProperty="id" keyColumn="id">insert into goods_detail(goods_id, goods_name,goods_category_code,goods_category_name,goods_price,goods_discount,brief_desc,detail_desc,pic_url,create_time,update_time)values(#{goodsId},#{goodsName},#{goodsCategoryCode},#{goodsCategoryName},#{goodsPrice},#{goodsDiscount},#{briefDesc},#{detailDesc},#{picUrl}, #{createTime},#{updateTime});</insert>
    <update id="update" parameterType="qmstore.goods_detail.pojo.GoodsDetail">update goods_detail set goods_id = #{goodsId},goods_name = #{goodsName}, goods_category_code = #{goods_categoryCode},goods_category_name = #{goodsCategoryName},goods_price = #{goodsPrice},goods_discount = #{goodsDiscount},brief_desc = #{briefDesc},detail_desc = #{detailDesc},pic_url = #{picUrl},update_time=#{updateTime} where goods_id = #{goodsId};
    </update>
    <delete id="delete">delete from goods_detail where goods_id=#{goods_id};</delete>
    <select id="find" resultType="qmstore.goods_detail.pojo.GoodsDetail">select * from goods_detail where goods_id=#{goodsId};</select>

    <select id="getAllByCategory" resultType="qmstore.goods_detail.pojo.GoodsDetail">
        SELECT *
        FROM goods_detail
        WHERE goods_category_code = #{categoryCode}
    </select>
    <select id="getBestSale" resultType="qmstore.goods_detail.pojo.GoodsDetail">
        SELECT *
        FROM goods_detail
        WHERE goods_id IN (
            SELECT goods_id
            FROM order_detail
            GROUP BY goods_id
            ORDER BY count(*) DESC
        )
        LIMIT 10
    </select>

    <select id="getAllActivityGoods" resultType="qmstore.goods_detail.pojo.GoodsDetail">
        SELECT *
        FROM goods_detail
        WHERE goods_id IN(
            SELECT goods_id
            FROM goods_activity
            GROUP BY goods_id
            )
    </select>
</mapper>