<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qmstore.goods_activity.dao.GoodsActivityMapper">
    <select id="findAll" resultType="qmstore.goods_activity.pojo.GoodsActivity">select  * from goods_activity;</select>

    <insert id="add" parameterType="qmstore.goods_activity.pojo.GoodsActivity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">insert into goods_activity(goods_id, activity_id,create_time,update_time)values(#{goods_id},#{activity_id}, #{create_time},#{update_time});</insert>
    <update id="update" parameterType="qmstore.goods_activity.pojo.GoodsActivity">update goods_activity set goods_id = #{goods_id},activity_id = #{activity_id}, update_time=#{update_time} where id = #{id};
    </update>
    <delete id="delete">delete from goods_activity where id=#{id};</delete>
    <delete id="find">select * from goods_activity where id=#{id};</delete>
</mapper>