<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qmstore.order_detail.dao.OrderDetailDao">
    <select id="selectByOrderId" parameterType="java.lang.String" resultType="qmstore.order_detail.pojo.OrderDetail">
        SELECT *
        FROM order_detail
        WHERE order_id = #{orderId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByOrderId" parameterType="java.lang.String">
        delete from order_detail
        where order_id = #{orderId,jdbcType=VARCHAR}
    </delete>

    <insert id="insertOrderDetail" parameterType="qmstore.order_detail.pojo.OrderDetail">
        insert into order_detail ( order_id, user_id, goods_id,
                                  logistics_id, goods_num, goods_price,
                                  goods_amount, order_desc, order_state_code,
                                  order_state_desc, create_time, update_time, address
        )
        values ( #{orderId}, #{userId,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR},
                #{logisticsId,jdbcType=VARCHAR}, #{goodsNum,jdbcType=INTEGER}, #{goodsPrice,jdbcType=DOUBLE},
                #{goodsAmount,jdbcType=DOUBLE}, #{orderDesc,jdbcType=VARCHAR}, #{orderStateCode,jdbcType=VARCHAR},
                #{orderStateDesc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{address}
               )
    </insert>

    <update id="updateOrderDetail" parameterType="qmstore.order_detail.pojo.OrderDetail">
        update order_detail
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="logisticsId != null">
                logistics_id = #{logisticsId,jdbcType=VARCHAR},
            </if>
            <if test="goodsNum != null">
                goods_num = #{goodsNum,jdbcType=INTEGER},
            </if>
            <if test="goodsPrice != null">
                goods_price = #{goodsPrice,jdbcType=DOUBLE},
            </if>
            <if test="goodsAmount != null">
                goods_amount = #{goodsAmount,jdbcType=DOUBLE},
            </if>
            <if test="orderDesc != null">
                order_desc = #{orderDesc,jdbcType=VARCHAR},
            </if>
            <if test="orderStateCode != null">
                order_state_code = #{orderStateCode,jdbcType=VARCHAR},
            </if>
            <if test="orderStateDesc != null">
                order_state_desc = #{orderStateDesc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
        </set>
        where order_id = #{orderId,jdbcType=VARCHAR}
    </update>

    <select id="getAllOrderDetail" resultType="qmstore.order_detail.pojo.OrderDetail">
        SELECT *
        FROM order_detail
    </select>

    <select id="getAllOrderByGoodsId" resultType="qmstore.order_detail.pojo.OrderDetail">
        SELECT *
        FROM order_detail
        WHERE goods_id = ${goodsId}
    </select>
    <select id="getAlreadySale" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM order_detail
        WHERE goods_id = ${goodsId}
    </select>
</mapper>