<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qmstore.user.dao.UserDao">
    <delete id="deleteUserByUserId">
        BEGIN;
            DELETE FROM user WHERE user_id = #{userId};
            DELETE FROM user_address WHERE user_id = #{userId};
            DELETE FROM shop_cart WHERE user_id = #{userId};
            DELETE FROM payment_record WHERE order_id IN (SELECT order_id FROM order_detail WHERE user_id = #{userId});
            DELETE FROM order_detail WHERE user_id = #{userId};
        COMMIT;

    </delete>
    <select id="getUser" parameterType="String" resultType="qmstore.user.pojo.User">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="getPassword" resultType="java.lang.String">
        SELECT password
        FROM user
        WHERE user_id = #{userId}
    </select>

    <insert id="addUser" parameterType="qmstore.user.pojo.User">
        INSERT INTO user
        (
         user_id, user_group, user_name, password, phone, create_time, update_time, email
        )
        VALUES
        (
         #{userId}, #{userGroup}, #{userName}, #{password}, #{phone}, #{createTime}, #{updateTime}, #{email}
        )
    </insert>

    <select id="getUserId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT user_id
        FROM user
        WHERE
        user_id = #{userId}
    </select>

    <update id="updateUser" parameterType="qmstore.user.pojo.User">
        UPDATE user
        <set>
        <if test="userName != null">
            user_name = #{userName},
        </if>

        <if test="password != null">
            password = #{password},
        </if>

        <if test="phone != null">
            phone = #{phone},
        </if>

        <if test="updateTime != null">
            update_time = #{updateTime},
        </if>

        <if test="email != null">
            email = #{email}
        </if>

        </set>
        WHERE
            user_id = #{userId};

    </update>

    <select id="getAllUser" resultType="qmstore.user.pojo.User">
        SELECT *
        FROM user
    </select>


</mapper>